/* Sets size contraints on the headshot image and creates border  */
#headshot{
    float: left;
    width: 30%;
    margin: 0px 20px 10px 0px;
    border: 7px;
    border-style: solid;
    border-color: var(--wood);
    max-width: 250px;
 }

 .about-page h1{
    color: var(--wood);
    text-align: center;
    padding: 20px;
 }
.about-page p{
    background-color: var(--cherry);
    padding: 30px;
    font-size: 24px;
    min-height: 307px;
    margin: 0 50px
 }