/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block;}
body { line-height: 1;}
ol,ul { list-style: none;}
blockquote,q { quotes: none;}
blockquote:before,blockquote:after,q:before,q:after { content: ''; content: none;}
table { border-collapse: collapse; border-spacing: 0;}


/* Declare color variables  */
:root{
  --matte: #464646;
  --ivory: #ecf9fb;
  --wood: #b19865;
  --cherry: #d5b6bc;
}

/* Smooths out scrolling using navigation links and adds padding so that navbar doesn't cover destination  */
html{
  scroll-behavior:smooth;
  scroll-padding-top: 90px;
}

/* Sets formatting of containers so that children stay within the parent element  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--matte);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Set background color for the page  */
body{
  background-color: var(--matte);
}

/* Sets font styling for 'Brad D. Wagner ' */
h1 {
  color: var(--matte);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
}

/* Sets flex-box for the header and establishes margins around it. Also extablishes it as a fixed element */
.header-box{
  position: fixed;
  clear: both;
  top: 0px;
  width: 100%;
  z-index: 2;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 20px;
  background-color: var(--cherry);
}

/* Establishes width of 'name' box and sets font size for the h1 */
.name {
  width: 50%;
  position: relative;
}

/* Establishes width of 'nav-bar' box  */
.nav-bar{
  width: 50%;
}

/* Allows ul to take up entirety of the 'nav-bar' box, sets a new flex-box with the children alligned in the center, and removes bullet points from the list */
.nav-bar ul{
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  list-style-type: none;
  
}

/* Sets font size of li allows the items to flex within the box and auto adjust their spacing */
.nav-bar ul li{
  font-size: 28px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  flex: 1 0 auto;
}

/* Uses pseudo-selectors to set different color states for the nav links  */
.nav-link{
  color: var(--matte);
}
.nav-link:hover{
  color: var(--wood);
}
.active{
  color: var(--ivory);
}

.spacer{
  width:100%;
  height: 90px;
}

.footer {
  display:flex;
  justify-content: center;
  width:100%;
}

.footer img{
  width: 50px;
  opacity: 0.7;
  margin: 20px 40px 40px
}

.footer img:hover{
  opacity:1;
}

@media screen and (max-width: 992px) {

 /* Shrinks down the size of image cards and their margins to better fit smaller screen  */
 .work-image-box{
  max-height: 300px;
  /* margin: 10px; */
 }
 
  /* Shrink text to avoid cramming  */
 .overlay h3{
  font-size: 20px;
  text-align: left;
}

}


@media screen and (max-width: 768px) {
    
  /* Changes the flex direction from rows to columns  */
 .header-box,
 .resume-container {
  flex-direction: column;
 }

 /* Centers the heading elements horizontally instead of the previous 50/50 split  */
 .name,
 .nav-bar {
  width: 100%;
  text-align:center;
  }

  /* Adjust font sizes to fit on smaller screens  */
  h1 {
      font-size: 35px;
  }
  .nav-bar ul li{
      font-size: 20px;
  }
  .overlay h3{
      font-size: 15px;
      text-align: left;
  }
  .overlay p {
      font-size: 12px;
      text-align: left;
  }
  #contact li{
      font-size: 10px;
  }
 
  /* Centers the different body elements horizontally instead of previous 30/70 split, and removes seperating vertical border  */
  .work-container{
      width: 100%;
      justify-content: center;
      text-align: center;
      border-width: 0px;
  }

  /* resizes link images to better fit smaller screen  */
  .work-image-box{
      margin:8px;
      max-height: 200px;
  } 
}